<!DOCTYPE html>
<html>
<head>
    <title>Web Calculator</title>
    <link href="styles/main.css" rel="stylesheet"
          type="text/css"/>
</head>

<body>
<nav role="navigation">
    <div id="menuToggle">
        <input type="checkbox"/> <span></span> <span></span>
        <span></span>
        <ul id="menu">
            <li><a onclick="showCalculator('main')">Smart
                Calculator</a></li>
            <li><a onclick="showCalculator('credit')">Credit
                Calculator</a></li>
            <li><a onclick="showCalculator('graphics')">Build
                Graphics</a></li>
            <li><a onclick="showCalculator('info')">Info</a>
            </li>
        </ul>
    </div>
</nav>
<div class="calculator-wrapper">
    <div class="calculator" id="mainCalculator">
        <form action="/calculate" method="post">
            <div class="expression-field">
                <div class="input-output"
                     id="expressionLabel"
                     th:text="${result}"></div>
            </div>
            <div class="buttons">
                <button onclick="handleButtonClick('1')"
                        type="button">1
                </button>
                <button onclick="handleButtonClick('2')"
                        type="button">2
                </button>
                <button onclick="handleButtonClick('3')"
                        type="button">3
                </button>
                <button onclick="clearInput()"
                        type="button">AC
                </button>
                <button onclick="handleButtonClick('4')"
                        type="button">4
                </button>
                <button onclick="handleButtonClick('5')"
                        type="button">5
                </button>
                <button onclick="handleButtonClick('6')"
                        type="button">6
                </button>
                <button onclick="handleButtonClick('-')"
                        type="button">-
                </button>
                <button onclick="handleButtonClick('7')"
                        type="button">7
                </button>
                <button onclick="handleButtonClick('8')"
                        type="button">8
                </button>
                <button onclick="handleButtonClick('9')"
                        type="button">9
                </button>
                <button onclick="handleButtonClick('+')"
                        type="button">+
                </button>
                <button onclick="handleButtonClick('0')"
                        type="button">0
                </button>
                <button onclick="handleButtonClick('*')"
                        type="button">*
                </button>
                <button onclick="handleButtonClick('/')"
                        type="button">/
                </button>
                <button onclick="handleButtonClick('^')"
                        type="button">^
                </button>
                <button onclick="handleButtonClick('cos')"
                        type="button">
                    cos
                </button>
                <button onclick="handleButtonClick('sin')"
                        type="button">
                    sin
                </button>
                <button onclick="handleButtonClick('tan')"
                        type="button">
                    tan
                </button>
                <button onclick="handleButtonClick('atan')"
                        type="button">
                    atan
                </button>
                <button onclick="handleButtonClick('acos')"
                        type="button">
                    acos
                </button>
                <button onclick="handleButtonClick('asin')"
                        type="button">
                    asin
                </button>
                <button onclick="handleButtonClick('log')"
                        type="button">
                    log
                </button>
                <button onclick="handleButtonClick('ln')"
                        type="button">ln
                </button>
                <button onclick="handleButtonClick('(')"
                        type="button">(
                </button>
                <button onclick="handleButtonClick(')')"
                        type="button">)
                </button>
                <button onclick="handleButtonClick('%')"
                        type="button">%
                </button>
                <button onclick="handleButtonClick('sqrt')"
                        type="button">
                    sqrt
                </button>
                <button onclick="handleButtonClick('.')"
                        type="button">.
                </button>
                <button onclick="handleButtonClick('x')"
                        type="button">x
                </button>
                <button onclick="toggleHistory()"
                        type="button">History
                </button>
                <button class="btn-calc" onclick="calculateWithX()"
                        type="button">=
                </button>
            </div>
        </form>
    </div>
    <div class="calculator" id="creditCalculator">
        <form id="creditForm">
            <div class="input-wrapper">
                <label for="amour">Loan Amount:</label>
                <input id="amour" maxlength="15" name="amour"
                       required type="number"/>
            </div>
            <div class="input-wrapper">
                <label for="term">Loan Term
                    (months):</label>
                <input id="term" maxlength="4" name="term"
                       required type="number"/>
            </div>
            <div class="input-wrapper">
                <label for="rate">Interest Rate (%):</label>
                <input id="rate" maxlength="4" name="rate"
                       required type="number"/>
            </div>
            <div class="calc-type-wrapper">
                <label for="annuity">Annuity:</label>
                <input checked id="annuity"
                       name="calcType" type="radio"
                       value="annuity"/>
                <label for="differentiated">Differentiated:</label>
                <input id="differentiated" name="calcType"
                       type="radio"
                       value="differentiated"/>
            </div>
            <button class="btn-calc"
                    onclick="calculateCredit()"
                    type="button">Calculate
            </button>
        </form>
        <div class="output">
            <div class="result-field">
                <label for="monthlyPayment">Monthly
                    Payment:</label>
                <input disabled id="monthlyPayment"
                       type="text"/>
            </div>
            <div class="result-field">
                <label for="totalInterest">Total
                    Interest:</label>
                <input disabled id="totalInterest"
                       type="text"/>
            </div>
            <div class="result-field">
                <label for="totalPayment">Total
                    Payment:</label>
                <input disabled id="totalPayment"
                       type="text"/>
            </div>
        </div>
    </div>
    <div class="calculator" id="infoCalculator">
        <section class="calc">
            <h2 class="label_calc">Main Calculator</h2>
            <h3>
                Smart calculator - divided into three
                blocks. This calculator - calculates
                arithmetic and binary operations with
                numbers, graph builder - builds a graph
                according to a given expression, credit
                calculator - has two
                types of credit: annuity, differentiated.
            </h3>
            <h3 class="o">HOW TO USE:</h3>
            <h3>
                All buttons of the screen are active.The
                calculation of the expression you entered is
                done by pressing the "=" button.When you
                enter x and press =, a dialog box will
                appear and ask you to drive the number to
                replace
                x.
            </h3>
            <div class="tab">
                <table class="operators">
                    <tr>
                        <th>Operations</th>
                    </tr>
                    <tr>
                        <th>Operator name</th>
                        <th>Operator</th>
                        <th>Description</th>
                        <th>Example</th>
                    </tr>
                    <tr>
                        <th>bracket</th>
                        <th>( )</th>
                        <th>takes the expression in
                            brackets
                        </th>
                        <th>x - (y * z)</th>
                    </tr>
                    <tr>
                        <th>plus</th>
                        <th>+</th>
                        <th>addition of two operands</th>
                        <th>x + y</th>
                    </tr>
                    <tr>
                        <th>minus</th>
                        <th>-</th>
                        <th>the difference of two operands
                        </th>
                        <th>x - y</th>
                    </tr>
                    <tr>
                        <th>multiplication</th>
                        <th>*</th>
                        <th>product of two operands</th>
                        <th>x * y</th>
                    </tr>
                    <tr>
                        <th>division</th>
                        <th>/</th>
                        <th>division of two operands</th>
                        <th>x / y</th>
                    </tr>
                    <tr>
                        <th>exponentiation</th>
                        <th>^</th>
                        <th>exponentiation</th>
                        <th>x ^ y</th>
                    </tr>
                    <tr>
                        <th>remainder of division</th>
                        <th>mod</th>
                        <th>remainder of division</th>
                        <th>x mod y</th>
                    </tr>
                    <tr>
                        <th>unary minus</th>
                        <th>-</th>
                        <th>unary minus</th>
                        <th>-x</th>
                    </tr>
                    <tr>
                        <th>unary plus</th>
                        <th>+</th>
                        <th>unaru plus</th>
                        <th>+a</th>
                    </tr>
                </table>
                <table class="func">
                    <tr>
                        <th>Functions</th>
                    </tr>
                    <tr>
                        <th>Function</th>
                        <th>Description function</th>
                    </tr>
                    <tr>
                        <th>cos(x)</th>
                        <th>Computes cosine</th>
                    </tr>
                    <tr>
                        <th>sin(x)</th>
                        <th>Computes sine</th>
                    </tr>
                    <tr>
                        <th>tan(x)</th>
                        <th>Computes tangent</th>
                    </tr>
                    <tr>
                        <th>acos(x)</th>
                        <th>Computes arc cosine</th>
                    </tr>
                    <tr>
                        <th>asin(x)</th>
                        <th>Computes arc sine</th>
                    </tr>
                    <tr>
                        <th>atan(x)</th>
                        <th>Computes arc tangent</th>
                    </tr>

                    <tr>
                        <th>sqrt(x)</th>
                        <th>Computes square root</th>
                    </tr>
                    <tr>
                        <th>ln(x)</th>
                        <th>Computes natural logarithm</th>
                    </tr>
                    <tr>
                        <th>log(x)</th>
                        <th>Computes common logarithm</th>
                    </tr>
                </table>
            </div>
        </section>
        <section class="graph">
            <h2>Graph builder</h2>
            <h3>Graph builders - plots the graph according
                to the output expression. The range is from
                - 1,000,000 to 1,000,000 inclusive.</h3>
            <h3 class="o">HOW TO USE:</h3>
            <h3>
                Entering x(min) and x(max) will set the
                range of the graph on the x-axis, entering
                <b>X</b> will set a point on the X-axis,
                entering <b>Y</b> will set a point on the
                Y-axis.Clicking on <b>custom</b> will clear
                your
                fields, clicking on <b>example</b> will set
                an example for a quick test of the Graph
                Builder utility
            </h3>
        </section>
        <section class="credit">
            <h2>Credit Calculator</h2>
            <h3>Loan Calculator - calculates your loan. It
                has two types of credit: annuity,
                differentiated.</h3>
            <h3 class="o">HOW TO USE:</h3>
            <h3>
                At the entrance there are three parameters:
                the loan amount, term for which the loan is
                taken (in months), the interest rate, in
                accordance with these parameters and
                depending on the type of credit you
                selected, your
                repayment plan will be calculated.
            </h3>
        </section>
    </div>
    <div class="calculator" id="graphicsCalculator">
        <h2>Build Graphics</h2>
        <form id="graphForm">
            <label for="graphExpression">Enter the
                expression:</label>
            <input id="graphExpression" required
                   type="text"/>
            <label for="xStart">X Start:</label>
            <input id="xStart" required type="number"/>
            <label for="xEnd">X End:</label>
            <input id="xEnd" required type="number"/>
            <button id="plotButton" type="button">Plot
                Graph
            </button>
        </form>
        <canvas height="400" id="graphContainer"
                width="900"></canvas>
    </div>
</div>
<div class="modal" id="modal">
    <div class="modal-content">
        <span class="close-btn" onclick="closeModal()">&times;</span>
        <label for="x">Enter the value of x:</label>
        <input id="xInput" name="x" required type="number"/>
        <button onclick="setXValue()">Calculate</button>
    </div>
</div>
<div class="sidebar" id="historySidebar">
    <h3>History:</h3>
    <ul id="historyList"></ul>
    <button onclick="clearHistory()">Clear History</button>
</div>
<script src="scripts/calculator.js"></script>
<script src="scripts/menu.js"></script>
<script src="scripts/graphics.js"></script>
<script src="scripts/credit.js"></script>
<script src="scripts/history.js"></script>
<script src="scripts/modal.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@1.1.1/dist/chartjs-plugin-zoom.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation"></script>

</body>
</html>
