body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.expression-field {
    margin: 10px auto;
    height: 50px;
    border: 0.7px solid #ccc;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
}

.input-output {
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
}

.calculator {
    background-color: rgb(239, 239, 239);
    width: 450px;
    padding: 20px;
    border: 0.7px solid #ccc;
    border-radius: 20px;
    -webkit-box-shadow: 7px 11px 46px 15px rgba(136, 145, 152, 0.22);
    -moz-box-shadow: 7px 11px 46px 15px rgba(136, 145, 152, 0.22);
    box-shadow: 7px 11px 46px 15px rgba(136, 145, 152, 0.22);
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-size: medium;
    margin-bottom: 20px;
}

form {
    margin-bottom: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    word-break: break-all;
    grid-gap: 4px;
    justify-items: center;
    margin-bottom: 2px;
}

.btn-calc {
    background-color: rgb(244, 134, 0);
}

.btn-calc:hover {
    background-color: peru;
    color: blanchedalmond;
}

button {
    border: none;
    background-color: rgb(220, 220, 220);
    color: rgb(0, 0, 0);
    font-family:'Courier New', Courier, monospace;
    font-size: medium;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15.5px;
    cursor: pointer;
    border-radius: 5.5px;
}

button:hover {
    background-color: #9a9898;
    color: white;
}

.result {
    text-align: center;
    font-size: large;
}

.buttons button {
    width: 100%;
    height: 100%;
}

h2 {
    margin-top: 0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: rgb(239, 239, 239);
    margin: 35% auto;
    padding: 10px;
    border: 1px solid #888;
    width: 300px;
    border-radius: 12px;
    position: relative;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.modal-content label, .modal-content input, .modal-content button {
    display: block;
    margin: 10px auto;
}

.modal-content .close-btn {
    top: 10px;
    right: 15px;
}

#xInput {
    height: 30px;
    background-color: rgba(220, 220, 220, 0.521);
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover, .close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.share-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 2em;
    border-radius: 100vmax;
    border: 0;
    font-size: 2rem;
    background-color: rgb(156, 152, 152);
    color: #008000;
    cursor: pointer;
    transition: width 300ms ease-in-out;
    transition-delay: 50ms;
    z-index: 1;
}

.share-btn::before {
    content: "x";
    position: absolute;
    left: 5px;
    font-size: 2.25rem;
    font-weight: 500;
    font-family: "Nunito", sans-serif;
    width: 1.5em;
    height: 1.5em;
    background-color: transparent;
    color: rgb(156, 152, 152);
    border-radius: inherit;
    z-index: -1;
    transition: background-color 300ms ease-in-out;
}

.social-icons {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: calc(100% - 2em);
    height: 100%;
    right: 0;
    border-radius: inherit;
}

.fa-facebook-f, .fa-twitter, .fa-instagram {
    transform: scale(0);
    transition: transform 300ms ease-in-out;
}

.share-icon {
    transform: scale(1);
    transition: transform 300ms ease-in-out;
}

.share-btn.open {
    width: 8em;
}

.share-btn.open::before {
    background-color: #008000;
}

.share-btn.open :is(.fa-facebook-f, .fa-twitter, .fa-instagram) {
    transform: scale(1);
    color: #008000;
}

.share-btn.open .share-icon {
    transform: scale(0);
}
